<form action="" method="post">
  Username: <input type="text" name="username" /> Password:
  <input type="text" name="password" /> Email:
  <input type="text" name="email" /> Country:
  <input type="text" name="country" /> cityOrState:
  <input type="text" name="cityOrState" /> aboutMeText:<input
    type="text"
    name="aboutMeText"
  />
  languages: <input type="text" name="languages" /> hobbies:
  <input type="text" name="hobbies" />
  <button type="submit">Sign Up</button>
</form>
