<form action="/auth/register" method="post">
  <label for="username">Username</label>
  <input type="text" name="username" />
  <label for="password">Password</label>
  <input type="password" name="password" />
  <label for="email">Email</label>
  <input type="text" name="email" />
  <label for="counry">Country</label>
  <input type="text" name="country" />
  <label for="cityOrState">State / Province</label>
  <input type="text" name="cityOrState" />
  <label for="aboutMetext">About me</label>
  <textarea name="aboutMeText"></textarea>
  <label for="languages">Languages</label><input type="text" name="languages" />
  <label for="username">hobbies</label>
  <input type="text" name="hobbies" />
  <button type="submit">Sign Up</button>
</form>
