<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="container is-fluid">
      <%- include('./partials/header.ejs') %>
      <h1 class="title">Register Page</h1>
      <%- include('./partials/registerForm.ejs') %>
    </div>
  </body>
</html>

<!-- username: { type: String, required: true },
  password: { type: String, required: true },
  email: { type: String, required: true },
  // img
  country: { type: String, required: true },
  cityOrState: { type: String, required: true },
  aboutMeText: { type: String, required: true },
  joinedOn: { type: Date, required: true },
  active: { type: Boolean, required: true },
  languages: [{ type: String, required: true }],
  hobbies: [{ type: String, required: true }],
  // to limit mongo's excessive data duplication, we will only
  // store recently updated fields, manage these as changes are made
  // and limit pulling data on the full data set unless needed
  updatedConnects: [Connect],
  updatedConversations: [Conversation],
  updatedMeetups: [Meetup], -->
