<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="container content">
      <div id="welcome-container">
        <div id="welcome-message">
          <h1>Welcome</h1>
          <h1>to</h1>
          <h1>Message</h1>
        </div>
        <div id="welcome-img-container">
          <img id="joybee-welcome-img" src="/avatars/bee.svg" alt="" />
        </div>
      </div>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea odio, iusto
        assumenda labore sit laudantium officia nam? Aperiam, explicabo
        consectetur. Cupiditate eaque molestias quae repellat non molestiae
        suscipit soluta hic!
      </p>
      <a href="/auth/register"
        ><button class="button is-primary is-large is-rounded">
          Connect
        </button></a
      >
      <p>already a member?</p>
      <a href="/auth/login"
        ><button class="button is-primary is-medium is-rounded">
          sign in
        </button></a
      >
    </div>
  </body>
</html>
