* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#clear-updates-btn {
  color: hsl(348, 100%, 61%);
}

#preview {
  height: 128px;
}

#photo-size-warning {
  color: hsl(348, 100%, 61%);
  padding-bottom: 2rem;
}

#img-upload-container {
  padding-top: 1.5rem;
}

.no-connects-warning {
  text-align: center;
  padding-bottom: 1.4rem;
}

#create-meetup-form * {
  margin-bottom: 1.5rem;
}

#invite-textarea {
  margin-bottom: 1.5rem;
}

#create-message-btn {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
