* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#clear-updates-btn {
  color: hsl(348, 100%, 61%);
}

#preview {
  height: 128px;
}

#photo-size-warning {
  color: hsl(348, 100%, 61%);
  padding-bottom: 2rem;
}

#img-upload-container {
  padding-top: 1.5rem;
}

.no-connects-warning {
  text-align: center;
  padding-bottom: 1.4rem;
}

#create-meetup-form * {
  margin-bottom: 1.5rem;
}

#invite-textarea {
  margin-bottom: 1.5rem;
}

#create-message-btn {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#old-messages-title {
  padding-bottom: 0.3rem;
  border-bottom: 2px solid black;
}

/* override list styling from bulma */
#message-container {
  list-style: none;
  /* width: 100%; */
  width: 90%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#message-container li {
  display: flex;
  width: 100%;
}

#message-container li p {
  border-radius: 25px;
  padding: 0.6rem;
  margin: 0.6rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #fff;
  font-weight: bold;
}
.message-spacer {
  min-width: 20%;
  flex-grow: 1;
}

.from-me p {
  background-color: cadetblue;
  text-align: right;
}

.from-you p {
  background-color: aqua;
  text-align: left;
}
