* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#clear-updates-btn {
  color: hsl(348, 100%, 61%);
}

#preview {
  height: 128px;
}

#photo-size-warning {
  color: hsl(348, 100%, 61%);
  padding-bottom: 2rem;
}

#img-upload-container {
  padding-top: 1.5rem;
}
